<!-- Start Header -->
		<table>
			<tr>
				<td>
				<table>
					<tr>
						<td class="header_bar" colspan="2">
						<table>
							<tr>
								<td class="header_bar_content">
								<%=image_tag("cart.png", alt: "Shopping Cart")%>
								Shopping Cart <b>|</b><% if logged_in? %> <%= link_to "Log out", logout_path, method: "delete" %><% else %><%= link_to "Log in", login_path %> <b>|</b> 
								<%= link_to "Sign Up!", register_path %> <% end %></td>
							</tr>
						</table>
						</td>
					</tr>
					<tr>
						<td class="logo">
						<%=image_tag("logo.png", alt: "Buzzit")%></td>
						<td class="logo_side">
&nbsp;</td>
					</tr>
					<tr>
						<td class="nav_bar" colspan="2">
						<table>
							<tr>
								<td class="nav_bar_holders">
								<table>
									<tr>
										<td>
										&nbsp;<%=image_tag("department_list.png", alt: "List All Departments")%></td>
										<td class="all_departments">
										&nbsp;Shop 
										All Departments</td>
									</tr>
								</table>
								</td>
								<td>&nbsp;</td>
								<td class="nav_bar_holders">
								<table>
									<tr>
										<td>
										<input type="text" name="T1" size="20"></td>
										<td class="search_button">
										Search</td>
									</tr>
								</table>
								</td>
							</tr>
						</table>
						</td>
					</tr>
				</table>
				</td>
			</tr>
		</table>
		<!-- End Header -->