<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

<table border="1" width="100%" style="border-width: 0px" cellspacing="0" cellpadding="0">
	<tr>
		<td style="border-style: none; border-width: medium">
		
		<%= render 'layouts/header' %>
		
		<!-- Start Content -->
		<%= yield %>
		<!-- End Content -->
		
		<%= render 'layouts/footer' %>
		</td>
	</tr>
</table>

</body>

</html>